* {padding: 0; margin: 0;}

body {
    background-color: #eeeeee; 
    font-family: 'Roboto',Arial;
}

.table{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.table:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

#buttons{
    margin: 1% 0;
}

.btn-info{
    font-weight: bold;
}

.form-group{
    margin: 0;
}

#thead_info{
    color: white;
    background: #5bc0de;
    font-weight: bold
}